*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/
**/[Kk]ey.json
*.retry
#jdauphant.nginx
# Vagrant & molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache
venv/
