cloud_id                 = "b1gi94g2i1l8jbepuv2f"
folder_id                = "b1gk62ipniaqhnvrgv06"
zone                     = "ru-central1-a"
image_id                 = "fd8okb12bsvqvnbpre9t"
public_key_path          = "~/.ssh/yc.pub"
subnet_id                = "e9bt9i6k6iormkeeqn8m"
service_account_key_file = "key.json"
